body {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

}

.signupDiv {

  text-align: center;

}

.signupDiv :hover {

  text-decoration: underline;

}

.order {

  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 40%;
}

.contain {

  padding: 10px 16px;
}



/*  subnavbar (product category link) design     */

#na {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
  z-index: 110;


}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 111;
}

.subNavbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  font-size: 10px;
  padding: 0;
  margin: 0;
}



.navcategoryDiv {

  color: black;
  font-size: 14px;
  height: 100px;
  text-align: center;



}

.dropdown-menu {
  font-size: 14px;
}


.navcategoryDiv :hover {
  color: rgb(209, 47, 47);


}

.navproductCategory {
  text-decoration: none;
  text-align: center;
  color: rgb(44, 44, 44);
  margin: 0px;
  padding: 0px 1px;

}

.fa-angle-right {

  background-color: white;
  color: brown;
  border-radius: 50px;
  font-size: 70px;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  right: 0px;
  height: 40px;
  top: 40%;
  z-index: 100;
}

.fa-angle-left {

  background-color: white;
  color: brown;
  border-radius: 50px;
  font-size: 70px;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  left: 0px;
  height: 40px;
  top: 40%;
  z-index: 100;
}



/* Products categories div design and hover effect*/

.categoryDiv {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  text-align: center;
  width: 250px;
  height: auto;


}

.categoryLink {
  text-decoration: none;
  color: black;
  font-size: 14px;

}


.categoryDiv:hover {
  font-size: 15px;
  font-weight: bold;


}

.categoryLink:hover {

  color: rgb(179, 58, 58);

}





/* --------freshmeatz process video------------ */
.videoBg {
  position: relative;


}

.videoBgImg {

  opacity: 0.5;

}

.videoBg h4 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

}




/*  footer div design */
.footerLink {

  text-decoration: none;
  color: black;
  font-size: 12px;
  padding: 6px;
}

.footerLink:hover {
  color: brown;
  font-weight: bold;
  font-size: 14px;
}

/*
input[type=text] {

  margin-top: 8px;
  font-size: 17px;
  border: none;
}
*/



.subscribeDiv {
  position: relative;
  text-align: center;
  color: white;
}

.subscribeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Company photos */
.galleryColumn {

  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding=10px 10px;

}

.galleryRow {

  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 5px 5px;
}

.galleryColumn img {
  margin-top: 8px;
  margin-right: 4px;
  vertical-align: middle;
  width: 100%;


}

.cart {
  color: white;
  margin-right: 12px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}


/* Navbar profile droipdown buttom design  
.profiledropdownlink{
  float: left;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}


.cart {

  margin-right: 15px;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
*/


.active {
  border-bottom: brown;

}


input[type=search] {
  width: 130px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: offwhite;
  transition: width 0.5s ease-in-out;
}

input[type=search]:focus {
  width: 75%;
  border: none;
  outline: none;


}

/*   cart design */


.table-image td,
.table-image th {
  vertical-align: middle;
}

.fixPriceDiv {
  position: fixed;
  top: 0;


}

.sticky {

  position: sticky;
  top: 10px;
}

/*  circle  counting  for address */

.circle {
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid white;
  display: inline-block;
  color: brown;
  text-align: center;
  font-size: 12px;


}

/*-------delivery-------------------------*/

.deliveryHereBtn {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0px;



}

/*-------------navbar elements dropdown--------*/

.profileDropbtn {

  font-size: 14px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}



.profileDropdown {

  position: relative;
  display: inline-block;
}

.profileDropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.profileDropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.profileDropdown a:hover {
  background-color: white;
}

.show {
  display: block;
}

.deliveryAddressDiv {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;

}

/* delievry address */
.input {

  font-size: 14px;
  width: 100%;
  padding: 8px;
  outline: none;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 4px;



}

.inout:focus {
  background-color: aquamarine;

}


.customerForm {
  outline: None;
  border: 1px solid brown;

}

.account-setting :hover {
  background-color: white;
  color: brown;
  cursor: pointer;


}




.profile-links :hover {

  background-color: rgb(241, 231, 232);
  color: brown;
}

.profile-img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* -----------------addres collapse ------------*/

.collapsible {


  cursor: pointer;

  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
}



.collapsible:after {
  content: '\002B';
  color: rgb(211, 38, 38);
  font-weight: bold;
  font-size: 16px;
  float: left;
  padding-right: 22px;
  margin-left: 5px;
}

.active:after {

  color: red;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

/* delivery address */

#saveBtn :focus {
  background-color: rgb(139, 31, 31);

}

#addressInput label {
  font-size: 14px;
  font-weight: bold;


}

#addressInout input {
  font-size: 12px;
}


/*address radio button color */

input[name="customerid"] {
  accent-color: red;

}




/* delivery time */

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: rgb(254, 254, 255);

}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(192, 34, 34) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(187, 40, 40) transparent;
  top: 8px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #0a0a0aea;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* payment mode option */

.data {
  display: none;
}

.payment_option {
  position: relative;
  display: inline-block;
  width: 100%;


}


.payment_option select {
  width: 100%;
  outline: none;
  ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgb(231, 230, 230);
  cursor: pointer;
  appearance: none;

}

.payment_option::after {
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgb(192, 34, 34);
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 2px;

  color: red;


}





#datepicker {
  width: 100%;
  outline: none;
  ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 12px;
  background-color: white;
  border: 1px solid rgb(231, 230, 230);
  cursor: pointer;


}


.loginSign {
  width: 100%;
  height: 2px;
  padding: 0;
  margin: 0;
}