{% extends 'myapp/base.html' %}

{%  load static %}

{% block title %}<title>Chekout-my-cart</title>{% endblock title %}

{% block navbar %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-2">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/banner/logo.png' %}" width="160px" height="auto"></a>
          <div class="profileDropdown">
            <button onclick="profileDropdown()" class="profileDropbtn text-muted">{{ request.user.username | capfirst }} <i class="fa-solid fa-angle-down ps-1"></i></button>
              <div class="profileDropdown-content" id="dropDown-content">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="{% url 'mywishlist' %}">Wishlist</a>
                <a class="dropdown-item" href="#">Chnage Password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>

          </div>
        </div>

     </nav>
</header>

{% endblock navbar %}

{% block subnavbar %}

{% endblock subnavbar %}

{% block main %}

<div class="container mt-1">

                <div class="row">
                  <form action="/placeorder/" method="POST"> {% csrf_token %}
                  <div class="d-flex justify-content-between align-item-center" id="checkoutPage">

                  <div class="col col-sm-8 p-2">
                  <div class="w-100 bg-danger px-3 py-2">
                      <span class="fw-bold text-white text-center px-3">DEIVERY ADDRESS</span>
                  </div>

                  <div class="bg-light h-auto border-bottom">
                    
                    {% for ad in address %}
                  
                      <div class="  form-group-row p-3 border-bottom form-data" id="order-address">
                        <a href="{% url 'update-address' ad.id %}" class="btn fw-bold btn btn-sm edit-btn  text-danger" data-sid="{{ad.id}}" value="{{ad.id}}" style="font-size: 12px; float: right;">edit</a>
                        <small class="form-check-label fw-bold px-3" for="">{{ad.first_name}}<small class="bg-white mx-3 text-muted fw-bold bg-white" style="font-size: 10px;">{{ad.address_type}}</small>
                        <small class=" fw-bold" style="font-size: 12px;">{{ ad.mobile_number}} </small> </small>

                      <p class="  p-3">{{ ad.address }} {{ad.landmark }} {{ ad.locality }} ,{{ ad.city }}, {{ ad.state }} - <b>{{ad.pincode}}</b></p>

                      <input class=" ms-3" type="radio" value="{{ ad.id }}" name="customerid" id="addid{{ forloop.counter}}" required>
                      <label class="form-check-label fw-bold px-3 pb-3" for="">Delivery here </label><br>
                      </div>
                  

                    {% endfor %}

            </div>
    </div>

    <div class="col-sm-4 offset-sm-0 mt-2" id="paymentBtn" >
      <div class="bg-light px-4 pt-2">
              
                        
                          <h6 class="fw-bold py-2" style="font-size: 14px;">CHOOSE YOUR DELIVERY SLOT</h6>
                          
                          <input  required type="" id="datepicker" name="order_date" class="" value="Select date :" style="font-size: 14px;" required>
                      
                          <div class="custom-select">
                            <select class="form-select" id="timepicker" name="order_time" required>
                              <option value="0">Select Time :</option>
                              <option value="07:00 AM - 09:00 AM">07:00 AM - 09:00 AM</option>
                              <option value="09:00 AM - 11:00 AM">09:00 AM - 11:00 AM</option>
                              <option value="11:00 AM - 01:00 PM">11:00 AM - 01:00 PM</option>
                              <option value="01:00 PM - 03:00 PM">01:00 PM - 03:00 PM</option>
                              <option value="03:00 PM - 05:00 PM">03:00 PM - 05:00 PM</option>
                              <option value="05:00 PM - 07:00 PM">05:00 PM - 07:00 PM</option>
                              <option value="07:00 PM - 09:00 PM">07:00 PM - 09:00 PM</option>
                              <option value="07:00 AM - 09:00 AM">07:00 AM - 09:00 AM</option>
                          
                            </select>
                          </div>
                          


                          <h6 class="fw-bold pt-4" style="font-size: 14px;">CHOOSE PAYMENT MODE</h6>
                          
                              <div class="payment_option">
                            <select class="paymentMode " id="paymentmode" name="payment_mode"   required>
                              <option value="0">Select options :</option>
                              <option value="cash_on_delivery">Cash on delivery</option>
                              <option value="online_payment">Online payment</option>
                              </select>
                            
                          </div>
                        
                    
                      
                        
                        <div class="data cash_on_delivery">
                            <button class="btn btn-danger  btn-sm py-2 fw-bold px-4 w-100 mt-3 " id="cod">CONTINUE</button>
                        </div>

                        <div class="data online_payment">
                            <a href="#" class="btn btn-danger  btn-sm py-2 fw-bold px-4 w-100 mt-3 " id="onlinePayment">CONTINUE</a>
                        </div>
                  



                   </div>  
         
          </form>

    </div>
       
</div>





<!------------address div -->

<div class="col-sm-8">
    
<button  type="button" class="collapsible p-3 bg-light fw-bold text-danger">  Add new address</button>
      <div class="container shadow content">
        <div class="card-body mb-3">
          
          <form method="POST" action="" id="form"> {%  csrf_token %}

           <div class="row" id="addressInput">
                    <div class="col-sm-6">
                      
                      <label for="inputEmail4" class="form-label">First name</label><br>
                    {{ form.first_name}}
                    </div>
  
                    <div class="col-sm-6">
                      <label for="inputEmail4" class="form-label">Last name</label><br>
                      {{ form.last_name}}
              
                    </div>
                    
                    <div class="col-sm-6 mt-3">
                      <label for="inputEmail4" class="form-label">Email</label><br>

                      {{ form.email }}
                    </div>
  
                    <div class="col-sm-6 mt-3">
                      <label for="inputEmail4" class="form-label">Mobile_number</label><br>
                      {{ form.mobile_number}}
                    </div>
                    
                    <div class="col-sm-12 mt-3">
                      <label for="inputTextArea4" class="form-label">Address</label>
                      {{ form.address}}
                    
                    </div>
                    
                    <div class="col-sm-6 mt-3">
                      <label for="inputEmail4" class="form-label">Locality</label>
                      {{ form.locality}}
                      
                    </div>
  
                    
                    <div class="col-md-6 mt-3">
                      <label for="inputCity" class="form-label">City</label>
                      {{ form.city}}
                      
                    </div>

                    <div class="col-sm-6 mt-3">
                      <label for="inputEmail4" class="form-label">Landmark</label>
                      {{ form.landmark}}
                    
                    </div>
  
                    <div class="col-md-4 mt-3">
                      <label for="inputState" class="form-label">State</label>
                      {{ form.state}}
                      
                      
                    </div>
                    <div class="col-md-2 mt-3">
                      <label for="inputZip" class="form-label">Pincode</label>
                      {{ form.pincode }}
                
                    </div>
                    <div class="col-md-3 mt-3">
                      <label for="inputAddress" class="form-label">Delivery addres type</label>
                      <select class="form-select" id="addressType" name="addres_type" required>
                        {{ form.addres_type}}
                        
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                        <option value="others">Others</option>
                    
                      </select>
                    </div>
                    
                    <button class="btn btn-light mt-3 fw-bold" type="submit" id="saveBtn">Save</button>
  
  
                  </div>
              
               
              </form>
  
            </div>
         
        </div>
  
    </div>
    
       

    


{% endblock main %}