{% extends 'myapp/base.html' %}

{%  load static %}

{% block title %}<title>Chekout-my-cart</title>{% endblock title %}

{% block navbar %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-2">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/banner/logo.png' %}" width="160px" height="auto"></a>
          <div class="profileDropdown">
            <button onclick="profileDropdown()" class="profileDropbtn text-muted">{{ request.user.username | capfirst }} <i class="fa-solid fa-angle-down ps-1"></i></button>
              <div class="profileDropdown-content" id="dropDown-content">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="{% url 'mywishlist' %}">Wishlist</a>
                <a class="dropdown-item" href="#">Chnage Password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>

          </div>
        </div>

     </nav>
</header>

{% endblock navbar %}

{% block subnavbar %}

{% endblock subnavbar %}

{% block main %}

<div class="container mt-1">
  <div class="row">

    <div class="d-flex justify-content-between align-item-center" id="checkoutPage">
    
    <div class="col col-sm-8 p-2">
     <div class="w-100 bg-danger px-3 py-2">
         <span class="fw-bold text-white text-center px-3">DEIVERY ADDRESS</span>
     </div>

     <div class="bg-light h-auto border-bottom">
      
      {% for ad in address %}
      <form action="" method="GET">

        <div class="  form-group-row p-3 border-bottom">
            
            <small class="form-check-label fw-bold px-3" for="">{{ad.first_name}}<small class="bg-white mx-3 text-muted fw-bold bg-white" style="font-size: 10px;">h{{ad.addrestype}}</small>
            <small class=" fw-bold" style="font-size: 12px;">{{ ad.mobile_number}} </small> </small>

          <a href="#" class="px-3 fw-bold  text-danger" style="font-size: 12px; float: right;  text-decoration: none;">EDIT</a>
        
          <p class="  py-2" style="margin-left: 36px;">{{ ad.address }} {{ad.landmark }} {{ ad.locality }} ,{{ ad.city }}, {{ ad.state }} - <b>{{ad.pincode}}</b></p>
        
        </div>
      </form>
      {% endfor %}

    </div>



    <button type="button" class="collapsible mt-3 bg-light fw-bold py-3 px-4">Add new address</button>
<!-----------------------------
  
  ------------------------>
    <div class="content">
      <div class="container shadow">
        <div class="card-body mb-3">
          
          <form method="POST" action=""> {%  csrf_token %}

           <div class="row" id="addressInput">
           
        
                    <div class="col-sm-6">
                      <label for="inputEmail4" class="form-label">First name</label><br>
                    {{ form.first_name}}
                    </div>
  
                    <div class="col-sm-6">
                      <label for="inputEmail4" class="form-label">Last name</label><br>
                      {{ form.last_name}}
              
                    </div>
                    
                    <div class="col-sm-6 mt-3">
                      <label for="inputEmail4" class="form-label">Email</label><br>

                      {{ form.email }}
                    </div>
  
                    <div class="col-sm-6 mt-3">
                      <label for="inputEmail4" class="form-label">Mobile_number</label><br>
                      {{ form.mobile_number}}
                    </div>
                    
                    <div class="col-sm-12 mt-3">
                      <label for="inputTextArea4" class="form-label">Address</label>
                      {{ form.address}}
                    
                    </div>
                    
                    <div class="col-sm-6 mt-3">
                      <label for="inputEmail4" class="form-label">Locality</label>
                      {{ form.locality}}
                      
                    </div>
  
                    
                    <div class="col-md-6 mt-3">
                      <label for="inputCity" class="form-label">City</label>
                      {{ form.city}}
                      
                    </div>

                    <div class="col-sm-6 mt-3">
                      <label for="inputEmail4" class="form-label">Landmark</label>
                      {{ form.landmark}}
                    
                    </div>
  
                    <div class="col-md-4 mt-3">
                      <label for="inputState" class="form-label">State</label>
                      {{ form.state}}
                      
                      
                    </div>
                    <div class="col-md-2 mt-3">
                      <label for="inputZip" class="form-label">Pincode</label>
                      {{ form.pincode }}
                
                    </div>
                    <div class="col-md-3 mt-3">
                      <label for="inputAddress" class="form-label">Delivery addres type</label>
                      <select class="form-select" id="addressType" name="addres_type" required>
                        {{ form.addres_type}}
                        
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                        <option value="others">Others</option>
                    
                      </select>
                    </div>
                    
                    <button class="btn btn-light mt-3 fw-bold" type="submit" id="saveBtn">Save</button>
  
  
                  </div>
              
               
              </form>
  
            </div>
         
        </div>
  
    </div>
       
  
</div>
  
  
<!----------------------------------------delivery time--------------------------------------->

             <div class="col-sm-4 offset-sm-0 mt-1" id="paymentBtn" >
                    <div class="bg-light p-3">
                            <form action="/placeorder/" class="" method="POST"> {% csrf_token %}
                                    <h6 class="mt-2">Choose your delivery slot</h6><br>
                                        <b>Date : </b>
                                        <input  required type="" id="datepicker" name="order_date" class="form-control" value="Select date :"><br>
                                        <b>Time : </b>
                                        <div class="custom-select">
                                          <select class="form-select" id="timepicker" name="order_time" required>
                                            <option value="0">Select Time:</option>
                                            <option value="07:00 AM - 09:00 AM">07:00 AM - 09:00 AM</option>
                                            <option value="09:00 AM - 11:00 AM">09:00 AM - 11:00 AM</option>
                                            <option value="11:00 AM - 01:00 PM">11:00 AM - 01:00 PM</option>
                                            <option value="01:00 PM - 03:00 PM">01:00 PM - 03:00 PM</option>
                                            <option value="03:00 PM - 05:00 PM">03:00 PM - 05:00 PM</option>
                                            <option value="05:00 PM - 07:00 PM">05:00 PM - 07:00 PM</option>
                                            <option value="07:00 PM - 09:00 PM">07:00 PM - 09:00 PM</option>
                                            <option value="07:00 AM - 09:00 AM">07:00 AM - 09:00 AM</option>
                                        
                                          </select>
                                        </div>

                                        <button type="submit" class="btn btn-warning btn-sm py-2 fw-bold px-4 w-100 mt-3">PLACE ORDER</button>
                                      </form>

                                 </div>
                       
                                
                             </div>
                     

<!---------------------------------------------------------------------->



                        </div>




                 </div>

            </div>



{% endblock main %}