{% extends 'myapp/base.html' %}

{%  load static %}

{% block title %}<title>Chekout-my-cart</title>{% endblock title %}

{% block navbar %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-2">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/banner/logo.png' %}" width="160px" height="auto"></a>
          <div class="profileDropdown">
            <button onclick="profileDropdown()" class="profileDropbtn text-muted">{{ request.user.username | capfirst }} <i class="fa-solid fa-angle-down ps-1"></i></button>
              <div class="profileDropdown-content" id="dropDown-content">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="{% url 'mywishlist' %}">Wishlist</a>
                <a class="dropdown-item" href="#">Chnage Password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>

          </div>
        </div>

     </nav>
</header>

{% endblock navbar %}

{% block subnavbar %}

{% endblock subnavbar %}

{% block main %}

<div class="container mt-1">
  <div class="row">

    <div class="d-flex justify-content-between align-item-center" id="checkoutPage">
    
    <div class="col col-sm-8 p-2">
     <div class="w-100 bg-danger p-2">
        <span class="circle fw-bold ms-2">1</span> <span class="fw-bold text-white text-center px-3" ;">DEIVERY ADDRESS</span>
     </div>

     <div class="bg-light h-auto  border-bottom ">
      
      <form action="/paymentdone/" method="GET">

        <div class="  form-group-row p-3">
            <input class="form-check-input bg-white ms-1" type="radio" value="{{ ad.id }}" name="custid" id="">

            <label class="form-check-label fw-bold px-3" for="">Hemanth <small class="bg-white mx-3 text-muted fw-bold bg-white" style="font-size: 10px;">HOME</small>
            <small class=" fw-bold" style="font-size: 12px;">9954182817 </small> </label>

          <a href="#" class="px-3 fw-bold  text-danger" style="font-size: 12px; float: right;  text-decoration: none;">EDIT</a>
        
          <p class="  py-2" style="margin-left: 36px;">#Gokula 1st Stage , Near Indian Petrol Bunk , Bengaluru , Karnataka - <b>560022</b></p>
          <button class="btn  btn-warning fw-bold py-2 px-4" style="margin-left: 36px; font-size: 14px;">DELIVERY HERE</button>

        </div>
      </form>

    </div>


    <button class="collapsible bg-light mt-3 fw-bold">Add new address</button>
   
      <div class="content">
        <div class="container shadow">
          <div class="card-body mb-3">
            <div class="row">
           
              <div class="col-sm-6">
                <label for="inputEmail4" class="form-label">First name</label>
                <input type="" class="form-control" id="inputname">
              </div>

              <div class="col-sm-6">
                <label for="inputEmail4" class="form-label">Last name</label>
                <input type="" class="form-control" id="inputname">
              </div>

              <div class="col-sm-6 mt-3">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputname">
              </div>

              <div class="col-sm-6 mt-3">
                <label for="inputEmail4" class="form-label">Phone Number</label>
                <input type="email" class="form-control" id="inputname">
              </div>
              
              <div class="col-sm-12 mt-3">
                <label for="inputEmail4" class="form-label">Address</label>
                <textarea  class="form-control" id="inputname"></textarea>
              </div>
              
              <div class="col-sm-6 mt-3">
                <label for="inputEmail4" class="form-label">Locality</label>
                <input  class="form-control" id="inputname" type=""></input>
              </div>

              <div class="col-sm-6 mt-3">
                <label for="inputEmail4" class="form-label">Landmark</label>
                <input  class="form-control" id="inputname" type="">
              </div>

              <div class="col-md-6 mt-3">
                <label for="inputCity" class="form-label">City</label>
                <input type="" class="form-control" id="inputCity">
              </div>
    
              <div class="col-md-4 mt-3">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col-md-2 mt-3">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="" class="form-control" id="inputZip">
              </div>
    
              <button class="btn btn-light mt-3 fw-bold" type="submit" id="saveBtn">Save</button>


            </div>

          </div>
          


            
      </div>






  </div>
      
        


        













  
    <!----
    <div class="w-100 bg-light mt-3 py-2 px-1 text-danger border-bottom"><i class="fa-solid fa-plus px-3"></i>        
        <a class="text-danger fw-bold text-decoration-none" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add new address
        </a>
      </div>
    
      <div class="collapse" id="collapseExample">
      <div class="card card-body px-5 w-100">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputPassword4">
          </div>

          
          <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Addrss</label>
            <input class="form-control" id="inputAddress" type="textarea">
          </div>


          <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" style="height: 10px;">
          </div>

          <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>


          




</form>













       
    </div>


      
</div>

    
    -->

      



    <!--------------------
<a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>






          <div class="w-100 bg-light mt-3 py-2 px-1 text-danger border-bottom"><i class="fa-solid fa-plus px-3"></i>
      <a href="#" class=" btn text-dnager px-1 text-danger fw-bold" style="font-size: 12px;">Add a new addres</a>
      
    </div>

      
      --------------->




  


       

</div>



              <!-----------------------------delivery time--------------------------->


             <div class="col-sm-4 offset-sm-0 mt-1" id="paymentBtn" >
                    <div class="bg-light p-3">
                            <form action="" class="">
                                    <h5 class="mt-4">Choose your delivery slot</h5><br>
                                        <b>Date : </b>
                                        <input type="datetime-local" id="birthdaytime" name="birthdaytime" class="form-control""><br>
                                        <b>Time : </b>
                                        
                                        <input type="time" id="myTime" step="2" class="form-control">
                                      </form>

                                 </div>
                             
                                <a href="{% url 'payment' %}" class="btn btn-warning btn-sm py-2 fw-bold px-4 w-100">CONTINUE TO PAYMENT </a>
                             </div>

<!----------------------------------->


                        </div>


                 </div>

            </div>



{% endblock main %}