{% extends 'myapp/base.html' %}

{% load static %}

{% block title %}<title>User register page</title>{% endblock title %}


{% block main %}

<div class="container-fluid mt-5">
    <div class="row my-3">
        <div class=" col col-sm-8 offset-sm-2">

            <div class="card mb-5" style="width: auto;">
                <div class="row g-0">
                  <div class="col-md-6">
                    <img src="{% static 'images/bestsell/c5.jpg' %}" class="img-fluid" alt="..." width="100%" height="auto">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                        
                      <h5 class="card-title text-center mt-3 fw-bold">Login</h5>
                      <form class="px-3" method="POSt" action=""> {% csrf_token %}

                        {% for fm in form %}
                        <div class=" form-group mb-0">
                            <label class="fw-bold text-muted">{{ fm.label_tag }}</label>  {{ fm }}<br> <small class="text-dnager">{{ fm.errors | striptags }}</small><br>
                 
                        </div>
                        
                        {% endfor %}
                       
                        <small class=""><a href="#" class="mb-3">Forgot password ? </a></small><br>
                       
                        <button type="submit" class="btn fw-bold btn-sm btn-danger py-1 w-100">Login</button>
                        <p class="text-center m-3">OR</p>
                        <a href="#" class="btn w-100 fw-bold btn-sm btn-light py-1 px-3">Request for OTP login</a>


                        <div class=" text-primary fw-bold text-center p-2"><small>New to here ? <a href="{% url 'signup' %}"
                        class="text-danger">Create an Account</a></small>
        

                      </form>

                    


                    </div>
                  </div>
                </div>
              </div>




        </div>


    </div>


</div>




{% endblock main %}