{% extends 'myapp/base.html' %}

{%  load static %}

{% block title %}<title>Chekout-my-cart</title>{% endblock title %}



{% block navbar %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-2">

    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/banner/logo.png' %}" width="160px" height="auto"></a>
    
      </div>

  </nav>

  
  
  </header>

{% endblock navbar %}











{% block subnavbar %}

{% endblock subnavbar %}


{% block main %}


<h1 class="text-center"> payment taken here</h1>



{% endblock main %}