{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}<title>prodcut-details</title>{% endblock title %}

{% block main %}



<div class="container mb-1 p-2"  >
    <div class="row" id="productdetails">
    
    
      <div class=" p-3 col-sm-6 offset-sm-0 text-center align-self-center bg-light" >

          <img src="{{ product.product_image.url}}" class="img-fluid rounded-3" width="500" height="auto">
      </div>

          <div class="p-3 col-sm-6 offset-sm-0 bg-light productdetails">

          <h4 class="mt-3">{{ product.title }}</h4>
      
           <small>{{ product.description}}</small>
        <hr>
          

          <h6 class="mt-1">Product Details</h6>
          <ul class="list-group mb-3">
              <li style="list-style-type: none;"><small>Pieces : {{ product.pieces}}</small></li>
              <li style="list-style-type: none;"><small>Gross wt. : {{ product.quantity }} </small></li>
          
          </ul>

          <h6 class="fw-bold"> Rs. {{ product.discounted_price}} | {{ product.quantity }} <small class="text-muted">MRP</small> <small class="fw-light text-decoration-line-through">{{ product.selling_price}}</small> <small class="text-muted">5%OFF</small></h6><br>
               
        <a class="btn btn-sm btn-danger addToCart" data-action="add" data-product="{{ product.id}}">Add to Cart</a>

        <button type="submit" class="btn btn-sm btn-secondary shadow px-2 py-1 addToWishlist" data-action="add" data-product="{{ product.id}}">Add in wishlist</button>

     
      </div>
        

    </div>


</div>



<!------------------------recomanded products details---------------->

<div class="container mt-0">
    <div class="row">
  
      <div class="col col-sm-12 ">
  
        <h3 class="mt-4 mb-3">You May Aslo like</h3>
  
        <div class="owl-carousel " id="slider1">
  
          {% for data in related_product %}

          <div class="item shadow bg-white border mt-4" style="height: 420; border-radius: 10px;">
            <a href="{% url 'productdetails' data.id %}" class="text-decoration-none text-dark">
              <img src="{{ data.product_image.url }}" class="rounded-top" width="320" height="240">
  
              <div class="m-3 mb-3">
                <h6 class="mt-0">{{ data.title }}</small></h5>
                  <small class="mb-3">{{ data.description }}</small>
              </div>
  
              <div class="m-3 mb-3">
                    <small class="text-decoration-line-through text-muted" style="font-size: 12px;">MRP: {{ data.selling_price }} | 500 Gms</small><br>
                    <span class="text-danger mt-0  fw-bold fs-6"><i
                        class="fa-solid fa-indian-rupee-sign text-danger fa-xs"></i>{{ data.discounted_price }} | {{ data.quantity }}</span>
                    
                        <a class="btn btn-sm btn-danger addToCart" data-action="add" data-product="{{ product.id}}" style="float: right;">Add to Cart</a>
  
              </div>
              <div class="text-center mt-3 card-footer mt-4">
                <small class="">
                  Delivery today within 2hrs
                </small>
              </div>
            </a>
  
          </div>
  
  {% endfor %}

          
  
        </div>
  
      </div>
  
  
    </div>
  
  
  </div>

























<div class="mt-5 container-fluid">
    <div class="row">
      <div class="col">
    
        <hr>
        <div class="mt-5 mb-5">
            <h3 class="text-danger text-center mb-3">freshmeatz</h3>
          <h5 class="text-center">"We provide contactless retail and door step service to maintain social distence."</h5>
    
    
        </div>
    <hr>
      </div>
    
    </div>
    
    </div>
    



{% endblock main %}