{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}<title>Prawns prodcuts page</title>{% endblock title %}
{% block main %}


<div class="container  mb-5">
    <hr>
    <div class="row">
    
        <div class="col  d-flex justify-content-between align-items-center flex-wrap">

        
            <div class="item shadow bg-white mt-4" style="border-radius: 10px;">
                <a href="#" class="text-decoration-none text-dark">
                  <img src="{% static 'images/bestsell/c7.jpg' %}" class="rounded-top img-fluid" width="320" height="240">
      
                  <div class="m-3 mb-3">
                    <h6 class="mt-0">Smoked Chicken  <small>(Ready to Cook)</small></h5>
                      <small class="mb-3">Smoked chicken marinated <br>
                        of hot spicess
                    </small>
                  </div>
      
                  <div class="m-3 mb-3">
                  
                        <small class="text-decoration-line-through text-muted" style="font-size: 12px;">MRP: 420 | 500gms 5% off</small><br>
                        <span class="text-danger mt-0  fw-bold fs-6"><i
                            class="fa-solid fa-indian-rupee-sign text-danger fa-xs"></i>399 | 500gms</span>
    
                    <a href="#" class="btn btn-danger" style="float: right;">Add to Cart</a>
      
                  </div>
                  <div class="text-center mt-3 card-footer mt-4">
                    <small class="">
                      Delivery today within 2hrs
                    </small>
                  </div>
                </a>
      
              </div>

              

              <div class="item shadow bg-white mt-4" style="border-radius: 10px;">
                <a href="#" class="text-decoration-none text-dark">
                  <img src="{% static 'images/bestsell/c7.jpg' %}" class="rounded-top img-fluid" width="320" height="240">
      
                  <div class="m-3 mb-3">
                    <h6 class="mt-0">Smoked Chicken  <small>(Ready to Cook)</small></h5>
                      <small class="mb-3">Smoked chicken marinated <br>
                        of hot spicess
                    </small>
                  </div>
      
                  <div class="m-3 mb-3">
                  
                        <small class="text-decoration-line-through text-muted" style="font-size: 12px;">MRP: 420 | 500gms 5% off</small><br>
                        <span class="text-danger mt-0  fw-bold fs-6"><i
                            class="fa-solid fa-indian-rupee-sign text-danger fa-xs"></i>399 | 500gms</span>
    
                    <a href="#" class="btn btn-danger" style="float: right;">Add to Cart</a>
      
                  </div>
                  <div class="text-center mt-3 card-footer mt-4">
                    <small class="">
                      Delivery today within 2hrs
                    </small>
                  </div>
                </a>
      
              </div>

              
            <div class="item shadow bg-white mt-4" style="border-radius: 10px;">
                <a href="#" class="text-decoration-none text-dark">
                  <img src="{% static 'images/bestsell/c7.jpg' %}" class="rounded-top img-fluid" width="320" height="240">
      
                  <div class="m-3 mb-3">
                    <h6 class="mt-0">Smoked Chicken  <small>(Ready to Cook)</small></h5>
                      <small class="mb-3">Smoked chicken marinated <br>
                        of hot spicess
                    </small>
                  </div>
      
                  <div class="m-3 mb-3">
                  
                        <small class="text-decoration-line-through text-muted" style="font-size: 12px;">MRP: 420 | 500gms 5% off</small><br>
                        <span class="text-danger mt-0  fw-bold fs-6"><i
                            class="fa-solid fa-indian-rupee-sign text-danger fa-xs"></i>399 | 500gms</span>
    
                    <a href="#" class="btn btn-danger" style="float: right;">Add to Cart</a>
      
                  </div>
                  <div class="text-center mt-3 card-footer mt-4">
                    <small class="">
                      Delivery today within 2hrs
                    </small>
                  </div>
                </a>
      
              </div>

              
              
            <div class="item shadow bg-white mt-4" style="border-radius: 10px;">
                <a href="#" class="text-decoration-none text-dark">
                  <img src="{% static 'images/bestsell/c7.jpg' %}" class="rounded-top img-fluid" width="320" height="240">
      
                  <div class="m-3 mb-3">
                    <h6 class="mt-0">Smoked Chicken  <small>(Ready to Cook)</small></h5>
                      <small class="mb-3">Smoked chicken marinated <br>
                        of hot spicess
                    </small>
                  </div>
      
                  <div class="m-3 mb-3">
                  
                        <small class="text-decoration-line-through text-muted" style="font-size: 12px;">MRP: 420 | 500gms 5% off</small><br>
                        <span class="text-danger mt-0  fw-bold fs-6"><i
                            class="fa-solid fa-indian-rupee-sign text-danger fa-xs"></i>399 | 500gms</span>
    
                    <a href="#" class="btn btn-danger" style="float: right;">Add to Cart</a>
      
                  </div>
                  <div class="text-center mt-3 card-footer mt-4">
                    <small class="">
                      Delivery today within 2hrs
                    </small>
                  </div>
                </a>
      
              </div>

              
              
            <div class="item shadow bg-white mt-4" style="border-radius: 10px;">
                <a href="#" class="text-decoration-none text-dark">
                  <img src="{% static 'images/bestsell/c7.jpg' %}" class="rounded-top img-fluid" width="320" height="240">
      
                  <div class="m-3 mb-3">
                    <h6 class="mt-0">Smoked Chicken  <small>(Ready to Cook)</small></h5>
                      <small class="mb-3">Smoked chicken marinated <br>
                        of hot spicess
                    </small>
                  </div>
      
                  <div class="m-3 mb-3">
                  
                        <small class="text-decoration-line-through text-muted" style="font-size: 12px;">MRP: 420 | 500gms 5% off</small><br>
                        <span class="text-danger mt-0  fw-bold fs-6"><i
                            class="fa-solid fa-indian-rupee-sign text-danger fa-xs"></i>399 | 500gms</span>
    
                    <a href="#" class="btn btn-danger" style="float: right;">Add to Cart</a>
      
                  </div>
                  <div class="text-center mt-3 card-footer mt-4">
                    <small class="">
                      Delivery today within 2hrs
                    </small>
                  </div>
                </a>
      
              </div>

              
              
            <div class="item shadow bg-white mt-4" style="border-radius: 10px;">
                <a href="#" class="text-decoration-none text-dark">
                  <img src="{% static 'images/bestsell/c7.jpg' %}" class="rounded-top img-fluid" width="320" height="240">
      
                  <div class="m-3 mb-3">
                    <h6 class="mt-0">Smoked Chicken  <small>(Ready to Cook)</small></h5>
                      <small class="mb-3">Smoked chicken marinated <br>
                        of hot spicess
                    </small>
                  </div>
      
                  <div class="m-3 mb-3">
                  
                        <small class="text-decoration-line-through text-muted" style="font-size: 12px;">MRP: 420 | 500gms 5% off</small><br>
                        <span class="text-danger mt-0  fw-bold fs-6"><i
                            class="fa-solid fa-indian-rupee-sign text-danger fa-xs"></i>399 | 500gms</span>
    
                    <a href="#" class="btn btn-danger" style="float: right;">Add to Cart</a>
      
                  </div>
                  <div class="text-center mt-3 card-footer mt-4">
                    <small class="">
                      Delivery today within 2hrs
                    </small>
                  </div>
                </a>
      
              </div>

              







              
           



        </div>


    </div>


</div>









{% endblock main %}