{% extends 'myapp/base.html' %}

{% load static %}

{% block title %}<title>User register page</title>{% endblock title %}


{% block main %}

<div class="container-fluid mt-5">
    <div class="row my-3">
        <div class=" col col-sm-8 offset-sm-2">

            <div class="card mb-5" style="width: auto;">
                <div class="row g-0">
                  <div class="col-md-6">
                    <img src="{% static 'images/bestsell/c9.png' %}" class="img-fluid" alt="..." width="100%" height="auto">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">

                      <h5 class="card-title text-center mt-3">Sign Up</h5>
                      <form class="px-3" method="POSt" action="" novalidate> {% csrf_token %}

                        {% for fm in form %}
                        <div class=" form-group">
                            {{ fm.label_tag }}  {{ fm }} <small class="text-dnager">{{ fm.errors | striptags }}</small><br>

                            
                        {% endfor %}
                        <input type="submit" class="btn btn-danger" value="Sign Up">
                        </div>

                        <div class="text-center fw-bold text-primary mt-1"> Existing User ? <a href="{% url 'login' %}"
                            class="text-danger">Login here</a></div>

                      </form>

                     



                    </div>
                  </div>
                </div>
              </div>




        </div>


    </div>


</div>




{% endblock main %}