{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}<title>add address</title>{% endblock title %}

{% block navbar %}

<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-2" id="navbar_top">
  <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/banner/logo.png' %}" width="160px" height="auto"></a>
      


        </div>
  
    </nav>
  

</header>

{% endblock navbar %}

{% block subnavbar %}

{%  endblock subnavbar %}

{% block content %}




{% endblock content %}


{% block main %}

<div class="w-50 col-sm-11 offset-sm-3 mt-3">


  <div class="container shadow">

    <div class="card-body mb-3 w-100">
      
      <form method="POST" action="" id=""> {%  csrf_token %}

       <div class="row" id="addressInput">
                <div class="col-sm-6">
                  
                  <label for="inputEmail4" class="form-label">First name</label><br>
                {{ form.first_name}}
                </div>

                <div class="col-sm-6">
                  <label for="inputEmail4" class="form-label">Last name</label><br>
                  {{ form.last_name}}
          
                </div>
                
                <div class="col-sm-6 mt-3">
                  <label for="inputEmail4" class="form-label">Email</label><br>

                  {{ form.email }}
                </div>

                <div class="col-sm-6 mt-3">
                  <label for="inputEmail4" class="form-label">Mobile_number</label><br>
                  {{ form.mobile_number}}
                </div>
                
                <div class="col-sm-12 mt-3">
                  <label for="inputTextArea4" class="form-label">Address</label>
                  {{ form.address}}
                
                </div>
                
                <div class="col-sm-6 mt-3">
                  <label for="inputEmail4" class="form-label">Locality</label>
                  {{ form.locality}}
                  
                </div>

                
                <div class="col-md-6 mt-3">
                  <label for="inputCity" class="form-label">City</label>
                  {{ form.city}}
                  
                </div>

                <div class="col-sm-6 mt-3">
                  <label for="inputEmail4" class="form-label">Landmark</label>
                  {{ form.landmark}}
                
                </div>

                <div class="col-md-4 mt-3">
                  <label for="inputState" class="form-label">State</label>
                  {{ form.state}}
                  
                  
                </div>
                <div class="col-md-2 mt-3">
                  <label for="inputZip" class="form-label">Pincode</label>
                  {{ form.pincode }}
            
                </div>
                <div class="col-md-3 mt-3">
                  <label for="inputAddress" class="form-label">Delivery addres type</label>
                  <select class="form-select" id="addressType" name="addres_type" required>
                    {{ form.addres_type}}
                    
                    <option value="home">Home</option>
                    <option value="work">Work</option>
                    <option value="others">Others</option>
                
                  </select>
                </div>
                
                <button class="btn btn-light mt-3 fw-bold" type="submit" id="saveBtn">Save</button>


              </div>
          
           
          </form>

        </div>
     
    </div>

</div>


{% endblock main %}